
<html>

  <head>
    <div class="container">
      <h1>CLOUD COMPUTİNG HOMEWORK1</h1>
    </div>

      <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>
      QRCLOUD
    </title>

  </head>

  <body>
    <div class="container">
      <form method="post" action="http://localhost:5000/qr"  class="was-validated">

          <h2>Create a QR code</h2>

          <br><br>

          Background Color:

          <select name="background_color" class="browser-default custom-select">
          	<option selected="selected" value="fff">White</option>
          	<option value="000">Black</option>
          	<option value="f00">Red</option>
          	<option value="0f0">Green</option>
          	<option value="00f">Blue</option>
          </select>

          <br><br>

          Code Color:

          <select name="color" class="browser-default custom-select" >
          	<option selected="selected" value="000">Black</option>
          	<option value="fff">White</option>
          	<option value="f00">Red</option>
          	<option value="0f0">Green</option>
          	<option value="00f">Blue</option>
          </select>

          <br><br>

        <div class="form-group">
          <label for="uname">Name:</label>

          <input type="text" class="form-control" name= "name" placeholder="Enter name for qrcode" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>

        </div>

        <div class="form-group">

            <button type="submit" class="btn btn-primary">Create</button>
        </div>


        <div class="form-group">

          {% if url %}
            <img id="Image1" src="{{url}}" style="color:White;background-color:White;border-color:White;border-width:0px;border-style:None;height:150px;width:150px;" />
          {% else %}
              <img id="Image1" style="color:White;background-color:White;border-color:White;border-width:0px;border-style:None;height:150px;width:150px;" />
          {% endif %}

          <br><br>
        </div>

      </form>
    </div>

    <div class="container">
      <form enctype="multipart/form-data" action="http://api.qrserver.com/v1/read-qr-code/" method="post" enableviewstate="True">

          <!-- MAX_FILE_SIZE (maximum file size in bytes) must precede the file input field used to upload the QR code image -->
          <input type="hidden" name="MAX_FILE_SIZE" value="1048576" />
              <!-- The "name" of the input field has to be "file" as it is the name of the POST parameter -->
          Choose QR code image to read/scan
          <br>
          <input name="file" type="file" />
          <button type="submit" class="btn btn-primary">Read QR code</button>

      </form>
    </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
